# OS
.DS_Store

# Web admin
node_modules/
dist/
dist-ssr/
coverage/
*.local
.env
.env.local
.env.*.local

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins-dependencies
**/.pub/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/android/.gradle/
**/android/local.properties
**/*.iml
.idea/

# Vercel
.vercel

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
